<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>
        <div layout:fragment="content">
            Hello World from Panda!
            <table>
                <tr th:each="u : ${user}">
                    <td th:text="${u.name}"></td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                            Button
                        </button></td>
                </tr>
            </table>
        </div>
    </body>
</html>